@import 'variables';

.BigImages {
  width: 100%;
  height: 60vh;
  overflow: scroll;
  box-sizing: content-box;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  @include respond(big-desktop) {
    height: 50vh;
  }

  @include respond(tab-port) {
    height: 40vh;
  }

  @include respond(phone) {
    height: 30vh;
  }
}
