.default {
  background-color: gray;
  padding: 0.5rem 2rem;
  border-radius: 25px;
}

.rarity {
  &::after {
    content: '\2192';
    transition: all 0.8s;
    margin-left: 2rem;
  }

  &:hover::after {
    position: absolute;
    margin-left: 6rem;
  }
}
