@import 'variables';

.Footer {
  border-top: 2px solid $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0.5rem 0;

  & p {
    font-size: 2rem;
  }

  @include respond(phone) {
    & p {
      font-size: 1rem;
    }
  }
}

.socials {
  display: flex;
  align-items: center;

  p {
    margin: 0 3rem;
  }
}

.socials a {
  font-size: 1rem;
  display: block;
  transition: all 0.8s;
  transform: translateX(0);

  &:hover {
    color: $color-primary;
    transform: translateX(-50%);
  }
}
